<!--This is a simple confirmation page thanking the user for entering a movie and of course 
    has the inherited nav bar for them to navigate back to the other pages
-->

<p>Submission Successful</p>