<!--This is a simple confirmation page thanking the user for entering a movie and of course 
    has the inherited nav bar for them to navigate back to the other pages
-->

<p>Submission Successful</p>
<br />

<div class="row">
    <div class="col-md-6">
            <a class="btn btn-primary" asp-controller="Home" asp-action="QuadrantView">See all tasks</a>
    </div>
</div>